@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body   {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.align-right {
  text-align: right;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.nav .nav-un {
  background-color: #e00606;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav .nav-un .nav-width {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.nav .nav-un .nav-width a {
  flex-grow: 1;
  flex-basis: 1;
}
.nav .nav-un .nav-width a.grow-2 {
  flex-grow: 2;
}
.nav .nav-deux {
  background-color: #000000;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav .nav-deux .nav-width {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.nav .nav-deux .nav-width .nav-alignement {
  margin-left: auto;
}
.nav .nav-deux .nav-width .nav-alignement a {
  padding: 15px;
}
.nav .nav-deux img {
  width: 50%;
}

.background-hero {
  height: 95vh;
  background-image: linear-gradient(#7271713d, #7fadaa3d), url(../images/header-img.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 50%, 71% 65%, 0% 45%, 0 0);
}
.background-hero .texte {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.background-hero .texte h2 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
}
.background-hero .texte h3 {
  font-size: 120px;
  font-weight: 400;
  letter-spacing: 5px;
}
.background-hero .texte p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5.4px;
}
.background-hero .icon {
  margin-right: 11px;
  text-align: right;
}
.background-hero .icon a {
  color: white;
}

.section-galerie {
  display: block;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
@media (min-width: 576px) {
  .section-galerie {
    display: flex;
  }
}
.section-galerie .galerie-produits {
  padding: 20px;
  text-align: center;
  position: relative;
}
.section-galerie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
