@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
body   {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.align-right {
  text-align: right;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
}
.nav .nav-un {
  background-color: #e00606;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav .nav-un .nav-width {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.nav .nav-un .nav-width a {
  flex-grow: 1;
  flex-basis: 1;
}
.nav .nav-un .nav-width a.grow-2 {
  flex-grow: 2;
}
.nav .nav-deux {
  background-color: #353535;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.nav .nav-deux .nav-width {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.nav .nav-deux .nav-width .nav-alignement {
  margin-left: auto;
}
.nav .nav-deux .nav-width .nav-alignement a {
  padding: 15px;
}
.nav .nav-deux img {
  width: 50%;
}
.nav .nav-mobile a {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 2;
}
@media (min-width: 576px) {
  .nav .nav-mobile {
    display: none;
  }
}

.nav-desktop {
  display: none;
}
@media (min-width: 576px) {
  .nav-desktop {
    display: block;
  }
}

.background-hero {
  height: 60vh;
  background-image: linear-gradient(#7271713d, #5253533d), url(../images/header-img.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 55%, 71% 73%, 0% 55%, 0 0);
}
@media (min-width: 576px) {
  .background-hero {
    height: 95vh;
  }
}
.background-hero .border {
  height: 95vh;
  clip-path: polygon(71% 71%, 100% 53%, 100% 55%, 71% 73%, 0% 55%, 0 53%);
  background-color: white;
  opacity: 0.2;
}
.background-hero .texte {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
}
.background-hero .texte h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5.4px;
}
@media (min-width: 576px) {
  .background-hero .texte h2 {
    font-size: 90px;
  }
}
.background-hero .texte h3 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5.4px;
}
@media (min-width: 576px) {
  .background-hero .texte h3 {
    font-size: 178px;
  }
}
.background-hero .texte p {
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 5.4px;
}
@media (min-width: 576px) {
  .background-hero .texte p {
    font-size: 35px;
  }
}
.background-hero .icon {
  margin-right: 18px;
  text-align: right;
  font-size: 26px;
}
@media (min-width: 576px) {
  .background-hero .icon {
    font-size: 30px;
  }
}
.background-hero .icon a {
  color: white;
}

.section-infos {
  flex-direction: column;
  text-align: center;
  margin-top: -70px;
  padding: 20px;
}
@media (min-width: 576px) {
  .section-infos {
    margin-top: -10%;
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    max-width: 1200px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
  }
}
.section-infos img {
  width: 75%;
}
@media (min-width: 576px) {
  .section-infos img {
    width: 572px;
  }
}
.section-infos .description h2 {
  font-size: 39px;
  line-height: 1.3;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.section-infos .description p {
  line-height: 1.3;
  margin-bottom: 50px;
}
.section-infos .description a {
  color: white;
  font-family: "Montserrat";
  background-color: #e00606;
  padding: 20px 36px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
